.component906Child,
.maskGroup194 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.maskGroup194 {
  max-width: 100%;
  overflow: hidden;
  height: 455px;
  object-fit: cover;
}
.component906Child {
  height: 100%;
  bottom: 0;
  background-color: var(--color-white);
}
.yourEmailAddress {
  position: absolute;
  top: calc(50% - 6px);
  left: 25px;
}
.yourEmailAddressWrapper {
  position: absolute;
  top: calc(50% - 137px);
  left: 70px;
  border-radius: var(--br-4xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 634px;
  height: 46px;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
}
.marketplace,
.stayInThe {
  position: absolute;
  font-weight: 600;
}
.stayInThe {
  top: 63px;
  left: 70px;
  font-size: var(--font-size-5xl);
}
.marketplace {
  top: 0;
  left: 0;
}
.stories {
  position: relative;
}
.recommendedForYou {
  position: relative;
  text-transform: capitalize;
}
.storiesParent {
  position: absolute;
  width: 100%;
  top: calc(50% - 73.5px);
  right: 0;
  left: 0;
  height: 188px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-sm);
  color: var(--color-dimgray);
}
.linksParent,
.marketplaceParent {
  position: absolute;
  top: calc(50% + 15px);
  left: calc(50% - 259px);
  width: 147px;
  height: 229px;
}
.linksParent {
  left: calc(50% - 0px);
}
.joinUs {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
  font-weight: 600;
}
.joinUsParent,
.marketplaceGroup {
  position: absolute;
  top: calc(50% + 15px);
  left: calc(50% + 259px);
  width: 147px;
  height: 229px;
}
.marketplaceGroup {
  left: calc(50% + 518px);
}
.joinTheCommunity {
  position: absolute;
  top: 63px;
  left: calc(50% + 3px);
  font-size: var(--font-size-5xl);
  font-weight: 600;
}
.joinOurMailing,
.logoIcon {
  position: absolute;
  left: 70px;
}
.joinOurMailing {
  top: calc(50% - 209px);
  font-size: var(--font-size-base);
  line-height: 22px;
  display: inline-block;
  width: 760px;
}
.logoIcon {
  top: calc(50% + 11.41px);
  width: 247.9px;
  height: 59.18px;
  object-fit: cover;
}
.drivingFinancialOpportunitie {
  position: absolute;
  top: calc(50% + 87px);
  left: 70px;
  font-size: var(--font-size-base);
  line-height: 22px;
  display: inline-block;
  width: 346px;
}
.component906Item {
  position: absolute;
  width: calc(100% - 139px);
  top: calc(50% - 51.5px);
  right: 69.5px;
  left: 69.5px;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 2px;
  opacity: 0.35;
}
.maskGroup193 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.signUp {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 37px);
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.signUpWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-4xl);
  background: linear-gradient(180deg, #fceabb, #f8b500);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.component683 {
  position: absolute;
  top: calc(50% - 137px);
  right: 1083px;
  width: 123.33px;
  height: 46.86px;
  text-align: center;
}
.component10820 {
  position: relative;
  width: 48px;
  height: 48px;
}
.component10820Parent {
  position: absolute;
  top: calc(50% - 210.03px);
  left: calc(50% - 0px);
  width: 264px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-7xs);
}
.component906 {
  position: absolute;
  width: calc(100% - 169.03px);
  right: 169.03px;
  bottom: 0;
  left: 0;
  height: 622px;
}
.groupChild,
.groupItem {
  position: absolute;
  top: 91.03px;
  right: 91.03px;
  border-radius: 50%;
  width: 358px;
  height: 358px;
}
.groupItem {
  top: 153.03px;
  right: 393.03px;
  width: 134px;
  height: 134px;
  opacity: 0.68;
}
.groupInner {
  position: absolute;
  height: 71.34%;
  width: 25.85%;
  top: 0;
  right: 0;
  bottom: 28.66%;
  left: 74.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component906Parent {
  position: absolute;
  width: calc(100% + 169.03px);
  right: -169.03px;
  bottom: -0.03px;
  left: 0;
  height: 757.03px;
  font-size: var(--font-size-lg);
}
.investorName {
  position: absolute;
  top: calc(50% - 824.5px);
  left: 70px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
}
.path44461Icon,
.path44463Icon,
.path44464Icon,
.path44465Icon {
  position: absolute;
  height: 42.74%;
  width: 103.82%;
  top: 59.8%;
  right: -2.72%;
  bottom: -2.54%;
  left: -1.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.path44463Icon,
.path44464Icon,
.path44465Icon {
  height: 35.16%;
  width: 14.2%;
  top: 23.04%;
  right: 62.48%;
  bottom: 41.79%;
  left: 23.32%;
}
.path44464Icon,
.path44465Icon {
  height: 35.02%;
  width: 13.81%;
  top: 23.18%;
  right: 23.32%;
  bottom: 41.8%;
  left: 62.87%;
}
.path44465Icon {
  height: 71.78%;
  width: 88.56%;
  top: 3.63%;
  right: 5.72%;
  bottom: 24.6%;
  left: 5.72%;
}
.b {
  position: absolute;
  top: calc(50% - 14.18px);
  left: calc(50% - 4.98px);
}
.path44461Parent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.investorProfileInner {
  position: absolute;
  height: calc(100% - 2615px);
  top: 499px;
  bottom: 2116px;
  left: calc(50% - 671.39px);
  width: 45.39px;
  font-size: var(--font-size-lgi);
  color: var(--color-goldenrod);
}
.iconAwesomeStar,
.starIcon {
  position: absolute;
  top: 0;
  width: 17.98px;
  height: 17.21px;
}
.starIcon {
  right: 52.52px;
}
.iconAwesomeStar {
  left: calc(50% - 9.59px);
}
.iconAwesomeStar1 {
  left: calc(50% - 35.25px);
}
.iconAwesomeStar1,
.iconAwesomeStar2,
.iconAwesomeStar3 {
  position: absolute;
  top: 0;
  width: 17.98px;
  height: 17.21px;
}
.iconAwesomeStar2 {
  left: calc(50% - 60.9px);
}
.iconAwesomeStar3 {
  left: 0;
}
.div {
  position: absolute;
  right: -1px;
  bottom: 0;
}
.starIconParent {
  position: absolute;
  top: calc(50% - 817.1px);
  right: 1387.48px;
  width: 173.11px;
  height: 19.6px;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
}
.component10825Parent {
  position: absolute;
  top: calc(50% - 837.5px);
  right: 70px;
  width: 264px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-7xs);
}
.followers {
  position: absolute;
  top: 0;
  left: 0;
}
.following {
  left: 248px;
}
.following,
.m,
.posts {
  position: absolute;
  top: 0;
}
.posts {
  left: 123px;
}
.m {
  right: -1px;
  font-weight: 600;
}
.container,
.mWrapper,
.wrapper {
  position: absolute;
  top: 22px;
  left: 0;
  width: 58px;
  height: 26px;
  font-size: var(--font-size-7xl);
  color: var(--color-gray-400);
}
.container,
.wrapper {
  left: 248px;
  width: 43px;
}
.container {
  left: 123px;
  width: 65px;
}
.followersParent {
  position: absolute;
  top: calc(50% - 742.63px);
  left: 70px;
  width: 307px;
  height: 48px;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.descriptionLoremIpsum {
  position: absolute;
  height: calc(100% - 2602px);
  width: calc(100% - 1029px);
  top: 669px;
  left: 70px;
  line-height: 22px;
  display: inline-block;
}
.component1052Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumseagreen);
}
.follow {
  position: absolute;
  bottom: 0;
  left: calc(50% - 23px);
  font-weight: 500;
}
.followWrapper {
  position: absolute;
  top: calc(50% - 5.77px);
  left: calc(50% - 25px);
  width: 46px;
  height: 16px;
}
.component1052 {
  position: absolute;
  top: calc(50% - 843px);
  left: 652px;
  width: 113px;
  height: 59px;
  color: var(--color-white);
}
.sendAMessage {
  position: absolute;
  top: calc(50% - 5.5px);
  left: calc(50% - 59px);
  font-weight: 500;
}
.sendAMessageWrapper {
  position: absolute;
  top: calc(50% - 843px);
  left: calc(50% - 175px);
  border-radius: var(--br-5xs);
  background-color: var(--color-gainsboro-100);
  width: 175px;
  height: 59px;
}
.investorProfileChild {
  position: absolute;
  height: calc(100% - 2491px);
  top: 310px;
  bottom: 2181px;
  left: 70px;
  max-height: 100%;
  width: 180px;
}
.component91243Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
.farmOwnerName {
  position: absolute;
  top: 4px;
  left: 0;
  font-weight: 600;
}
.component1071,
.div3 {
  position: absolute;
  top: calc(50% - 6.5px);
  left: 64px;
  width: 134px;
  height: 19px;
}
.div3 {
  top: calc(50% + 15.5px);
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
  display: inline-block;
  width: 173px;
  height: 17px;
}
.agricultureImageIcon {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 200px;
  object-fit: cover;
}
.div4,
.price {
  position: absolute;
}
.div4 {
  top: 16px;
  right: 10px;
  font-weight: 600;
}
.price {
  top: 0;
  left: 0;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
}
.lumiIcon {
  height: 50%;
  width: 21.92%;
  top: 43.75%;
  right: 0;
  bottom: 6.25%;
  left: 78.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div5,
.lumiIcon,
.parent {
  position: absolute;
}
.parent {
  top: calc(50% + 49.5px);
  right: 254px;
  width: 73px;
  height: 32px;
}
.div5 {
  top: calc(50% + 64.5px);
  right: 14px;
  font-weight: 500;
  color: var(--color-mediumseagreen);
  text-align: right;
}
.rectangleDiv,
.rectangleWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
}
.rectangleDiv {
  height: 100%;
  top: 0;
  border-radius: var(--br-9xs) 0 0 var(--br-9xs);
  background-color: var(--color-mediumseagreen);
  width: 109px;
}
.rectangleWrapper {
  width: 100%;
  right: 0;
  border-radius: 0 var(--br-9xs) var(--br-9xs) 0;
  background-color: var(--color-gainsboro-100);
  height: 6px;
}
.averageRevenue,
.m1 {
  position: absolute;
  top: 0;
}
.m1 {
  right: 157px;
  font-weight: 500;
}
.averageRevenue {
  left: 0;
  color: var(--color-darkgray);
}
.groupParent {
  position: absolute;
  width: calc(100% - 30px);
  top: calc(50% + 104.5px);
  right: 15px;
  left: 15px;
  height: 30px;
  font-size: var(--font-size-sm);
}
.iconAwesomeStar4,
.starIcon1 {
  position: absolute;
  top: 0;
  width: 11.21px;
  height: 10.73px;
}
.starIcon1 {
  right: 1px;
}
.iconAwesomeStar4 {
  left: calc(50% + 9.89px);
}
.iconAwesomeStar5 {
  left: calc(50% - 6.11px);
}
.iconAwesomeStar5,
.iconAwesomeStar6,
.iconAwesomeStar7 {
  position: absolute;
  top: 0;
  width: 11.21px;
  height: 10.73px;
}
.iconAwesomeStar6 {
  left: calc(50% - 22.11px);
}
.iconAwesomeStar7 {
  left: 0;
}
.starIconGroup,
.yield {
  position: absolute;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
}
.starIconGroup {
  top: calc(50% - 0px);
  right: 14px;
  width: 76.21px;
  height: 32.19px;
}
.yield {
  top: calc(50% + 49.5px);
  left: calc(50% + 129px);
}
.component91243Item {
  position: absolute;
  width: calc(100% + 1px);
  top: calc(50% + 156.5px);
  right: 0;
  left: -1px;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 2px;
}
.addToCartChild {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  width: 156px;
  height: 59px;
}
.iconlylightOutlinebuy {
  position: absolute;
  bottom: 19.46px;
  left: calc(50% - 55px);
  width: 20px;
  height: 19.54px;
}
.addToCart1 {
  position: absolute;
  bottom: 19px;
  left: calc(50% - 25px);
  text-transform: capitalize;
  font-weight: 500;
}
.addToCart,
.buyNowChild {
  position: absolute;
  bottom: 0;
}
.addToCart {
  left: calc(50% - 101px);
  width: 156px;
  height: 59px;
  color: var(--color-gray-300);
}
.buyNowChild {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 0 0 var(--br-mini) 0;
  background-color: var(--color-white);
  opacity: 0.8;
}
.buyNow1 {
  position: absolute;
  right: 24px;
  bottom: 19px;
  font-weight: 500;
}
.buyNow {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 116px;
  height: 59px;
}
.component91243Inner,
.lineDiv {
  position: absolute;
  width: calc(100% - 340px);
  top: calc(50% + 156.5px);
  right: 115px;
  left: 225px;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 60px;
}
.lineDiv {
  right: 271px;
  left: 69px;
}
.groupIcon {
  position: absolute;
  height: 9.24%;
  width: 11.7%;
  top: 48.5%;
  right: 83.92%;
  bottom: 42.26%;
  left: 4.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component941 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 59px;
}
.farmName {
  top: calc(50% - 65.5px);
  left: 16px;
  font-size: var(--font-size-lg);
  font-weight: 600;
}
.farmLocation,
.farmName,
.starIconContainer {
  position: absolute;
  color: var(--color-white);
}
.farmLocation {
  top: calc(50% - 44.5px);
  left: 16px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  display: inline-block;
  width: 173px;
  height: 17px;
}
.starIconContainer {
  top: calc(50% - 60.09px);
  right: 14px;
  width: 76.21px;
  height: 32.19px;
  font-size: var(--font-size-xs);
}
.shareIcon {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 30px;
  height: 30px;
}
.component91243 {
  position: relative;
  width: 342px;
  height: 433px;
  cursor: pointer;
}
.component91243Parent {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 890.5px);
  width: 2496px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-mid);
}
.scrollGroup22 {
  position: absolute;
  width: calc(100% - 22px);
  top: calc(50% - 192.5px);
  right: 21.5px;
  left: 0.5px;
  height: 433px;
  overflow-x: auto;
  mix-blend-mode: normal;
  font-size: var(--font-size-base);
}
.groupChild7 {
  position: absolute;
  top: calc(50% + 1.5px);
  right: -18px;
  width: 63px;
  height: 63px;
}
.investmentHistoryParent {
  position: absolute;
  width: calc(100% - 118px);
  top: calc(50% - 560.5px);
  right: 48px;
  left: 70px;
  height: 481px;
  font-size: var(--font-size-9xl);
}
.kwh {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--color-gray-400);
}
.dailyOutputParent {
  position: relative;
  width: 86px;
  height: 36px;
}
.monthlyOutputParent,
.totalOutputParent {
  position: relative;
  width: 111px;
  height: 36px;
}
.totalOutputParent {
  width: 117px;
}
.span {
  font-size: var(--font-size-5xs-7);
  vertical-align: sub;
}
.co2AvoidanceParent {
  position: relative;
  width: 97px;
  height: 36px;
}
.groupParent7 {
  position: absolute;
  top: 48px;
  right: 0;
  width: 117px;
  height: 216px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-2xl);
}
.groupChild8 {
  bottom: 0;
  background-color: var(--color-gold-100);
  height: 67px;
}
.groupChild10,
.groupChild8,
.groupChild9 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.groupChild9 {
  top: calc(50% - 44.5px);
  background-color: var(--color-gold-200);
  height: 83px;
}
.groupChild10 {
  top: 0;
  background-color: var(--color-orange);
  height: 61px;
}
.rectangleParent {
  position: relative;
  width: 50px;
  height: 211px;
}
.groupWrapper {
  width: 50px;
  height: 211px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.groupChild11 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gold-200);
  height: 50px;
}
.groupChild13,
.rectangleGroup {
  position: relative;
  width: 50px;
  height: 111px;
}
.groupChild13 {
  background-color: var(--color-gold-100);
  height: 39px;
}
.groupParent9 {
  width: 50px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.groupChild14 {
  position: relative;
  background-color: var(--color-orange);
  width: 50px;
  height: 100px;
}
.groupChild16 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-gold-200);
  height: 89px;
}
.rectangleParent2 {
  position: relative;
  width: 50px;
  height: 156px;
}
.rectangleParent1 {
  width: 50px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.groupChild17 {
  position: relative;
  background-color: var(--color-orange);
  width: 50px;
  height: 78px;
}
.groupChild18,
.groupChild19,
.groupChild23 {
  position: relative;
  background-color: var(--color-gold-200);
  width: 50px;
  height: 44px;
}
.groupChild19,
.groupChild23 {
  background-color: var(--color-gold-100);
  height: 28px;
}
.groupChild23 {
  background-color: var(--color-orange);
  height: 83px;
}
.groupChild25 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-gold-200);
  height: 83px;
}
.rectangleParent6 {
  position: relative;
  width: 50px;
  height: 150px;
}
.rectangleParent5 {
  width: 50px;
  height: 233px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.groupChild32 {
  position: relative;
  background-color: var(--color-orange);
  width: 50px;
  height: 22px;
}
.groupChild33,
.groupChild34 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.groupChild33 {
  bottom: 0;
  background-color: var(--color-gold-100);
  height: 39px;
}
.groupChild34 {
  top: 0;
  background-color: var(--color-gold-200);
  height: 28px;
}
.rectangleParent11 {
  position: relative;
  width: 50px;
  height: 67px;
}
.rectangleParent10 {
  width: 50px;
  height: 89px;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-48xl);
  box-sizing: border-box;
  align-items: flex-start;
}
.groupChild35,
.groupChild36 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.groupChild35 {
  bottom: 0;
  background-color: var(--color-gold-200);
  height: 28px;
}
.groupChild36 {
  top: 0;
  background-color: var(--color-orange);
  height: 50px;
}
.rectangleParent12 {
  position: relative;
  width: 50px;
  height: 78px;
}
.groupParent11 {
  width: 50px;
  height: 117px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.groupChild38 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gold-200);
  height: 72px;
}
.rectangleParent13 {
  position: relative;
  width: 50px;
  height: 133px;
}
.groupParent12 {
  width: 50px;
  height: 172px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.groupParent8 {
  position: absolute;
  height: calc(100% - 53px);
  top: 30px;
  bottom: 23px;
  left: calc(50% - 658.5px);
  width: 1381px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-52xl);
}
.xAxisLine {
  position: absolute;
  height: calc(100% - 22.5px);
  width: calc(100% - 59.5px);
  top: 0;
  right: -0.5px;
  bottom: 22.5px;
  left: 60px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.kwh2 {
  position: absolute;
  bottom: 17px;
  left: 15px;
}
.kwh3,
.kwh4,
.kwh5 {
  position: absolute;
  top: calc(50% + 80.5px);
  left: 0;
}
.kwh4,
.kwh5 {
  top: calc(50% + 36.5px);
}
.kwh5 {
  top: calc(50% - 6.5px);
}
.kwh6 {
  top: calc(50% - 50.5px);
}
.kwh6,
.kwh7,
.kwh8 {
  position: absolute;
  left: 0;
}
.kwh7 {
  top: calc(50% - 93.5px);
}
.kwh8 {
  top: 17px;
}
.div44 {
  position: relative;
  align-self: flex-start;
}
.parent6 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 652.5px);
  width: 1365px;
  height: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-68xl);
  text-align: center;
}
.lineChart0Wrapper {
  position: absolute;
  width: calc(100% - 221px);
  top: 0;
  right: 221px;
  left: 0;
  height: 309px;
  text-align: right;
}
.groupChild44 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gold-100);
  width: 17px;
}
.pvSystem93 {
  position: absolute;
  top: 3px;
  right: -1px;
}
.groupChild45,
.rectangleParent16 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 146px;
}
.groupChild45 {
  background-color: var(--color-gold-200);
  width: 17px;
}
.rectangleParent17 {
  left: calc(50% - 73px);
  width: 146px;
}
.groupChild46,
.rectangleParent17,
.rectangleParent18 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.groupChild46 {
  left: 0;
  background-color: var(--color-orange);
  width: 17px;
}
.rectangleParent18 {
  right: 0;
  width: 146px;
}
.groupParent13 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 237px);
  width: 556px;
  height: 17px;
  text-align: center;
}
.groupParent6 {
  position: absolute;
  height: calc(100% - 87px);
  width: calc(100% - 80px);
  top: 87px;
  right: 77px;
  bottom: 0;
  left: 3px;
}
.groupChild47 {
  position: absolute;
  width: calc(100% + 1px);
  right: 0;
  bottom: -1px;
  left: -1px;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 2px;
}
.live,
.monthly,
.yearly {
  position: absolute;
  top: 0;
  font-weight: 600;
}
.live {
  left: 23px;
  color: var(--color-gray-400);
  text-align: center;
}
.monthly,
.yearly {
  left: 126px;
}
.yearly {
  left: 263px;
}
.groupChild48 {
  position: absolute;
  top: 28px;
  left: -3px;
  border-top: 3px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 89px;
  height: 6px;
}
.lineParent {
  position: absolute;
  top: 5px;
  left: 0;
  width: 1780px;
  height: 31px;
  font-size: var(--font-size-3xl);
}
.electricityProducedCharts {
  position: absolute;
  height: calc(100% - 79px);
  width: 100%;
  top: 79px;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.energyIProduceParent {
  position: absolute;
  width: calc(100% - 140px);
  top: calc(50% + 52.5px);
  right: 70px;
  left: 70px;
  height: 551px;
  font-size: var(--font-size-9xl);
}
.navigationBarChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.logoIcon1 {
  position: absolute;
  height: calc(100% - 40.82px);
  top: 20.41px;
  bottom: 20.41px;
  left: 70px;
  max-height: 100%;
  width: 247.9px;
  object-fit: cover;
  cursor: pointer;
}
.cartIcon,
.lightningIcon,
.userIcon,
.walletIcon {
  position: relative;
  width: 30px;
  height: 30px;
}
.cartIcon,
.lightningIcon,
.walletIcon {
  cursor: pointer;
}
.lightningIcon,
.walletIcon {
  width: 20.64px;
  height: 19.17px;
}
.lightningIcon {
  width: 16.85px;
  height: 22.32px;
  margin-top: 3px;
}
.userParent {
  position: absolute;
  top: calc(50% - 15px);
  right: 70px;
  width: 202.49px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-16xl);
}
.search {
  position: absolute;
  top: calc(50% - 6px);
  left: 44px;
}
.searchIcon {
  position: absolute;
  bottom: 14px;
  left: 16px;
  width: 16.04px;
  height: 16.4px;
}
.searchParent {
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 573px);
  border-radius: var(--br-4xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 746px;
  height: 46px;
}
.leaderboard {
  cursor: pointer;
}
.leaderboard,
.login {
  position: relative;
  font-weight: 600;
}
.leaderboardParent {
  position: absolute;
  top: calc(50% - 5px);
  right: 332px;
  width: 347px;
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-20xl);
  text-align: center;
  color: var(--color-gray-400);
}
.navigationBar {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  color: var(--color-darkgray);
}
.investorProfile {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2671px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
  font-family: var(--font-exo-2);
}
