.investmentHistory {
  position: absolute;
  top: 0;
  left: 11.5px;
  font-weight: 600;
}
.component91323Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
.farmOwnerName {
  position: absolute;
  top: 4px;
  left: 0;
  font-weight: 600;
}
.component1071,
.div1 {
  position: absolute;
  top: calc(50% - 6.5px);
  left: 64px;
  width: 134px;
  height: 19px;
}
.div1 {
  top: calc(50% + 15.5px);
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
  display: inline-block;
  width: 173px;
  height: 17px;
}
.agricultureImageIcon {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}
.div2,
.price {
  position: absolute;
}
.div2 {
  top: 16px;
  right: 10px;
  font-weight: 600;
}
.price {
  top: 0;
  left: 0;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
}
.lumiIcon {
  height: 50%;
  width: 21.92%;
  top: 43.75%;
  right: 0;
  bottom: 6.25%;
  left: 78.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div3,
.lumiIcon,
.parent {
  position: absolute;
}
.parent {
  top: calc(50% + 49.5px);
  right: 254px;
  width: 73px;
  height: 32px;
}
.div3 {
  top: calc(50% + 64.5px);
  right: 14px;
  font-weight: 500;
  color: var(--color-mediumseagreen);
  text-align: right;
}
.groupChild,
.rectangleWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
}
.groupChild {
  height: 100%;
  top: 0;
  border-radius: var(--br-9xs) 0 0 var(--br-9xs);
  background-color: var(--color-mediumseagreen);
  width: 109px;
}
.rectangleWrapper {
  width: 100%;
  right: 0;
  border-radius: 0 var(--br-9xs) var(--br-9xs) 0;
  background-color: var(--color-gainsboro-100);
  height: 6px;
}
.averageRevenue,
.m {
  position: absolute;
  top: 0;
}
.m {
  right: 157px;
  font-weight: 500;
}
.averageRevenue {
  left: 0;
  color: var(--color-darkgray);
}
.groupParent {
  position: absolute;
  width: calc(100% - 30px);
  top: calc(50% + 104.5px);
  right: 15px;
  left: 15px;
  height: 30px;
  font-size: var(--font-size-sm);
}
.iconAwesomeStar,
.starIcon {
  position: absolute;
  top: 0;
  width: 11.21px;
  height: 10.73px;
}
.starIcon {
  right: 1px;
}
.iconAwesomeStar {
  left: calc(50% + 9.89px);
}
.iconAwesomeStar1 {
  left: calc(50% - 6.11px);
}
.iconAwesomeStar1,
.iconAwesomeStar2,
.iconAwesomeStar3 {
  position: absolute;
  top: 0;
  width: 11.21px;
  height: 10.73px;
}
.iconAwesomeStar2 {
  left: calc(50% - 22.11px);
}
.iconAwesomeStar3 {
  left: 0;
}
.div4 {
  position: absolute;
  right: -1px;
  bottom: 0;
}
.starIconParent,
.yield {
  position: absolute;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
}
.starIconParent {
  top: calc(50% - 0px);
  right: 14px;
  width: 76.21px;
  height: 32.19px;
}
.yield {
  top: calc(50% + 49.5px);
  left: calc(50% + 129px);
}
.component91323Item {
  position: absolute;
  width: calc(100% + 1px);
  top: calc(50% + 156.5px);
  right: 0;
  left: -1px;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 2px;
}
.addToCartChild {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  width: 156px;
  height: 59px;
}
.iconlylightOutlinebuy {
  position: absolute;
  bottom: 19.46px;
  left: calc(50% - 55px);
  width: 20px;
  height: 19.54px;
}
.addToCart1 {
  position: absolute;
  bottom: 19px;
  left: calc(50% - 25px);
  text-transform: capitalize;
  font-weight: 500;
}
.addToCart,
.buyNowChild {
  position: absolute;
  bottom: 0;
}
.addToCart {
  left: calc(50% - 101px);
  width: 156px;
  height: 59px;
  color: var(--color-gray-300);
}
.buyNowChild {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 0 0 var(--br-mini) 0;
  background-color: var(--color-white);
  opacity: 0.8;
}
.buyNow1 {
  position: absolute;
  right: 24px;
  bottom: 19px;
  font-weight: 500;
}
.buyNow {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 116px;
  height: 59px;
}
.component91323Inner,
.lineDiv {
  position: absolute;
  width: calc(100% - 340px);
  top: calc(50% + 156.5px);
  right: 115px;
  left: 225px;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 60px;
}
.lineDiv {
  right: 271px;
  left: 69px;
}
.groupIcon {
  position: absolute;
  height: 9.24%;
  width: 11.7%;
  top: 48.5%;
  right: 83.92%;
  bottom: 42.26%;
  left: 4.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component941 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 59px;
}
.farmName {
  top: calc(50% - 65.5px);
  left: 16px;
  font-size: var(--font-size-lg);
  font-weight: 600;
}
.farmLocation,
.farmName,
.starIconGroup {
  position: absolute;
  color: var(--color-white);
}
.farmLocation {
  top: calc(50% - 44.5px);
  left: 16px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  display: inline-block;
  width: 173px;
  height: 17px;
}
.starIconGroup {
  top: calc(50% - 60.09px);
  right: 14px;
  width: 76.21px;
  height: 32.19px;
  font-size: var(--font-size-xs);
}
.component91323,
.shareIcon {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 30px;
  height: 30px;
}
.component91323 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.div {
  position: absolute;
  height: calc(100% - 45px);
  top: 17.5px;
  bottom: 27.5px;
  left: 22.5px;
  width: 342px;
}
.agricultureImageIcon1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 200px;
  object-fit: cover;
}
.div12,
.div18,
.div6 {
  position: absolute;
  height: calc(100% - 45px);
  top: 17.5px;
  bottom: 27.5px;
  width: 342px;
}
.div6 {
  left: calc(50% - 165px);
}
.div12,
.div18 {
  right: 10.5px;
}
.div18 {
  right: -344.5px;
}
.repeatGrid34 {
  position: absolute;
  height: 100%;
  width: calc(100% + 709px);
  top: 0;
  right: -698px;
  bottom: 0;
  left: -11px;
}
.scrollGroup35 {
  position: absolute;
  width: 100%;
  top: calc(50% - 233.75px);
  right: 0;
  left: 0;
  height: 478px;
  overflow-x: auto;
  mix-blend-mode: normal;
  font-size: var(--font-size-base);
}
.investmentHistoryParent {
  position: absolute;
  width: calc(100% + 1px);
  top: calc(50% - 301px);
  right: 0.5px;
  left: -1.5px;
  height: 488.5px;
}
.maskGroup201 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 178px;
  object-fit: cover;
}
.div24,
.starIcon8 {
  position: absolute;
  opacity: 0.5;
}
.div24 {
  top: 0;
  left: 0;
  font-weight: 600;
}
.starIcon8 {
  height: calc(100% - 24.47px);
  top: 12.73px;
  right: 0;
  bottom: 11.73px;
  max-height: 100%;
  width: 32.14px;
}
.rate {
  position: absolute;
  top: calc(50% - 178px);
  right: 18.93px;
  width: 106.07px;
  height: 55px;
  display: none;
  font-size: var(--font-size-26xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-montserrat);
}
.investorName {
  position: absolute;
  top: calc(50% - 13px);
  left: 0;
  line-height: 25px;
  font-weight: 600;
}
.investorNameWrapper {
  position: absolute;
  top: 215px;
  left: 10px;
  width: 169px;
  height: 26px;
  font-size: var(--font-size-7xl);
}
.investorProfileChild {
  position: absolute;
  height: calc(100% - 1552.71px);
  top: 213.21px;
  bottom: 1339.5px;
  left: calc(50% + 10px);
  max-height: 100%;
  width: 23.74px;
}
.descriptionLoremIpsum {
  position: absolute;
  width: calc(100% + 1px);
  top: 0;
  left: 0;
  line-height: 19px;
  display: inline-block;
  height: 39px;
}
.seeMore {
  position: absolute;
  bottom: 2px;
  left: 0;
}
.unionIcon {
  position: absolute;
  top: calc(50% - 2.58px);
  left: calc(50% - 4.75px);
  width: 9.54px;
  height: 5.23px;
}
.unionWrapper {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 19px;
}
.seeMoreParent {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 82px;
  height: 19px;
}
.descriptionLoremIpsumDolorParent {
  position: absolute;
  width: calc(100% - 20px);
  top: calc(50% - 395px);
  right: 10px;
  left: 10px;
  height: 61px;
  font-size: var(--font-size-sm);
}
.investorProfileItem {
  position: absolute;
  width: calc(100% + 25px);
  top: 0;
  right: -25px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 86px;
}
.investorProfileInner {
  position: absolute;
  top: 128px;
  left: 10px;
  width: 75px;
  height: 75px;
}
.iconAwesomeStar32,
.starIcon9 {
  position: absolute;
  top: 0;
  width: 11.21px;
  height: 10.73px;
}
.starIcon9 {
  right: 0;
}
.iconAwesomeStar32 {
  left: calc(50% + 27.29px);
}
.iconAwesomeStar33 {
  left: calc(50% + 11.29px);
}
.iconAwesomeStar33,
.iconAwesomeStar34,
.iconAwesomeStar35 {
  position: absolute;
  top: 0;
  width: 11.21px;
  height: 10.73px;
}
.iconAwesomeStar34 {
  left: calc(50% - 4.71px);
}
.iconAwesomeStar35 {
  left: 33.79px;
}
.div25 {
  position: absolute;
  right: 83px;
  bottom: 0;
}
.starIconParent5 {
  position: absolute;
  top: calc(50% - 570.37px);
  right: 10px;
  width: 109px;
  height: 13.37px;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
}
.sendAMessage {
  position: absolute;
  top: calc(50% - 5.5px);
  left: calc(50% - 59px);
  font-weight: 500;
}
.component1054Child,
.sendAMessageWrapper {
  position: absolute;
  border-radius: var(--br-5xs);
}
.sendAMessageWrapper {
  top: calc(50% - 17px);
  left: calc(50% - 30.5px);
  background-color: var(--color-gainsboro-100);
  width: 175px;
  height: 34px;
}
.component1054Child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-mediumseagreen);
}
.follow {
  position: absolute;
  bottom: 0;
  left: calc(50% - 23px);
  font-weight: 500;
}
.followWrapper {
  position: absolute;
  top: calc(50% - 5.6px);
  left: calc(50% - 25px);
  width: 46px;
  height: 16px;
}
.component1054 {
  position: absolute;
  top: calc(50% - 17px);
  left: 0;
  width: 104px;
  height: 34px;
  color: var(--color-white);
}
.groupParent3 {
  position: absolute;
  top: calc(50% - 458px);
  left: 10px;
  width: 289px;
  height: 34px;
  font-size: var(--font-size-base);
}
.followers {
  position: absolute;
  top: 0;
  left: 0;
}
.following {
  left: 248px;
}
.following,
.m4,
.posts {
  position: absolute;
  top: 0;
}
.posts {
  left: 123px;
}
.m4 {
  right: -1px;
  font-weight: 600;
}
.followersParent,
.frame,
.mWrapper,
.wrapper {
  position: absolute;
  top: 22px;
  left: 0;
  width: 58px;
  height: 26px;
  font-size: var(--font-size-7xl);
  color: var(--color-gray-400);
}
.followersParent,
.frame,
.wrapper {
  left: 248px;
  width: 43px;
}
.followersParent,
.frame {
  left: 123px;
  width: 65px;
}
.followersParent {
  top: 264.87px;
  left: 10px;
  width: 307px;
  height: 48px;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.component10838 {
  position: relative;
  width: 85px;
  height: 85px;
}
.component10838Parent {
  position: absolute;
  top: 152px;
  right: 10px;
  width: 184px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.energyIProduce,
.kwh {
  position: absolute;
  font-weight: 600;
}
.energyIProduce {
  top: 0;
  left: 10px;
}
.kwh {
  bottom: 0;
  left: 0;
  font-size: var(--font-size-lg);
  color: var(--color-gray-400);
}
.dailyOutputParent {
  position: relative;
  width: 86px;
  height: 36px;
}
.monthlyOutputParent,
.totalOutputParent {
  position: relative;
  width: 111px;
  height: 36px;
}
.totalOutputParent {
  width: 117px;
}
.span {
  font-size: var(--font-size-5xs-7);
  vertical-align: sub;
}
.co2AvoidanceParent {
  position: relative;
  width: 97px;
  height: 36px;
}
.groupParent5 {
  position: absolute;
  top: 48px;
  right: 0;
  width: 117px;
  height: 216px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-2xl);
  font-size: var(--font-size-sm);
}
.xAxisLine {
  position: absolute;
  height: calc(100% - 22.5px);
  width: calc(100% - 54.5px);
  top: 0;
  right: -0.5px;
  bottom: 22.5px;
  left: 55px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.kwh2 {
  position: absolute;
  bottom: 17px;
  left: 14px;
}
.kwh3,
.kwh4,
.kwh5 {
  position: absolute;
  top: calc(50% + 82.5px);
  left: 2px;
}
.kwh4,
.kwh5 {
  top: calc(50% + 38.5px);
  left: 0;
}
.kwh5 {
  top: calc(50% - 4.5px);
}
.kwh6 {
  top: calc(50% - 48.5px);
  left: 0;
}
.kwh6,
.kwh7,
.kwh8 {
  position: absolute;
}
.kwh7 {
  top: calc(50% - 91.5px);
  left: 1px;
}
.kwh8 {
  top: 20px;
  left: 2px;
  text-align: right;
}
.groupChild1,
.groupChild2,
.groupChild3 {
  position: absolute;
  height: 31.75%;
  width: 100%;
  top: 68.25%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gold-100);
}
.groupChild2,
.groupChild3 {
  height: 39.34%;
  top: 28.91%;
  bottom: 31.75%;
  background-color: var(--color-gold-200);
}
.groupChild3 {
  height: 28.91%;
  top: 0;
  bottom: 71.09%;
  background-color: var(--color-orange);
}
.rectangleParent {
  position: relative;
  width: 10px;
  height: 211px;
}
.groupWrapper {
  width: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.groupChild4,
.groupChild5 {
  position: absolute;
  height: 45.05%;
  width: 100%;
  top: 54.95%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gold-200);
}
.groupChild5 {
  height: 54.95%;
  top: 0;
  bottom: 45.05%;
  background-color: var(--color-orange);
}
.groupChild6,
.rectangleGroup {
  position: relative;
  width: 10px;
  height: 111px;
}
.groupChild6 {
  background-color: var(--color-gold-100);
  height: 39px;
}
.groupParent7 {
  width: 10px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.groupChild7 {
  position: relative;
  background-color: var(--color-orange);
  width: 10px;
  height: 100px;
}
.groupChild8,
.groupChild9 {
  position: absolute;
  height: 42.95%;
  width: 100%;
  top: 57.05%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gold-100);
}
.groupChild9 {
  height: 57.05%;
  top: 0;
  bottom: 42.95%;
  background-color: var(--color-gold-200);
}
.rectangleParent2 {
  position: relative;
  width: 10px;
  height: 156px;
}
.rectangleParent1 {
  width: 10px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.groupChild10 {
  position: relative;
  background-color: var(--color-orange);
  width: 10px;
  height: 78px;
}
.groupChild11,
.groupChild12,
.groupChild16 {
  position: relative;
  background-color: var(--color-gold-200);
  width: 10px;
  height: 44px;
}
.groupChild12,
.groupChild16 {
  background-color: var(--color-gold-100);
  height: 28px;
}
.groupChild16 {
  background-color: var(--color-orange);
  height: 83px;
}
.groupChild17,
.groupChild18 {
  position: absolute;
  height: 44.67%;
  width: 100%;
  top: 55.33%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gold-100);
}
.groupChild18 {
  height: 55.33%;
  top: 0;
  bottom: 44.67%;
  background-color: var(--color-gold-200);
}
.rectangleParent6 {
  position: relative;
  width: 10px;
  height: 150px;
}
.rectangleParent5 {
  width: 10px;
  height: 233px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.groupChild25 {
  position: relative;
  background-color: var(--color-orange);
  width: 10px;
  height: 22px;
}
.groupChild26,
.groupChild27 {
  position: absolute;
  height: 58.21%;
  width: 100%;
  top: 41.79%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gold-100);
}
.groupChild27 {
  height: 41.79%;
  top: 0;
  bottom: 58.21%;
  background-color: var(--color-gold-200);
}
.rectangleParent11 {
  position: relative;
  width: 10px;
  height: 67px;
}
.rectangleParent10 {
  width: 10px;
  height: 89px;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-48xl);
  box-sizing: border-box;
  align-items: flex-start;
}
.groupChild28,
.groupChild29 {
  position: absolute;
  height: 35.9%;
  width: 100%;
  top: 64.1%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gold-200);
}
.groupChild29 {
  height: 64.1%;
  top: 0;
  bottom: 35.9%;
  background-color: var(--color-orange);
}
.rectangleParent12 {
  position: relative;
  width: 10px;
  height: 78px;
}
.groupParent9 {
  width: 10px;
  height: 117px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.groupChild31,
.groupChild32 {
  position: absolute;
  height: 54.14%;
  width: 100%;
  top: 45.86%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gold-200);
}
.groupChild32 {
  height: 45.86%;
  top: 0;
  bottom: 54.14%;
  background-color: var(--color-orange);
}
.rectangleParent13 {
  position: relative;
  width: 10px;
  height: 133px;
}
.groupParent10 {
  width: 10px;
  height: 172px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.groupParent6 {
  position: absolute;
  height: 91.76%;
  top: 0;
  bottom: 8.24%;
  left: calc(50% - 138px);
  width: 516px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-17xl);
}
.div28,
.div34 {
  position: relative;
}
.div34 {
  align-self: flex-start;
}
.parent2 {
  position: absolute;
  height: 4.66%;
  top: 95.34%;
  bottom: 0;
  left: calc(50% - 148px);
  width: 545px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
  align-items: flex-end;
  gap: var(--gap-mid);
}
.scrollGroup30 {
  position: absolute;
  width: calc(100% - 64px);
  top: calc(50% - 124.5px);
  right: 9px;
  left: 55px;
  height: 279px;
  overflow-x: auto;
  mix-blend-mode: normal;
  text-align: right;
}
.groupChild37,
.lineChart0Wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 374px;
  height: 309px;
}
.groupChild37 {
  height: 100%;
  bottom: 0;
  background-color: var(--color-gold-100);
  width: 17px;
}
.pvSystem93 {
  position: absolute;
  top: 5px;
  right: -1px;
}
.groupChild38,
.rectangleParent16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 127px;
  height: 17px;
}
.groupChild38 {
  height: 100%;
  bottom: 0;
  background-color: var(--color-gold-200);
  width: 17px;
}
.rectangleParent17 {
  position: absolute;
  top: 0;
  right: 0;
  width: 127px;
  height: 17px;
}
.groupChild39 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-orange);
  width: 17px;
}
.groupParent11,
.rectangleParent18 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 127px;
  height: 17px;
}
.groupParent11 {
  width: 297px;
  height: 45px;
}
.groupParent4 {
  position: absolute;
  width: calc(100% - 4px);
  right: -6px;
  bottom: 0;
  left: 10px;
  height: 386px;
}
.dailyOutput1,
.kwh9 {
  position: absolute;
  top: 0;
  left: 0;
}
.kwh9 {
  top: 50%;
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--color-gray-400);
}
.groupParent12 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 177.5px);
  width: 531px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
  align-items: flex-start;
  gap: var(--gap-19xl);
}
.scrollGroup36 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 375px;
  height: 36px;
  overflow-x: auto;
  mix-blend-mode: normal;
  font-size: var(--font-size-sm);
}
.component1275 {
  position: absolute;
  height: calc(100% - 37px);
  width: 100%;
  top: 37px;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
}
.energyIProduceParent {
  position: absolute;
  width: calc(100% + 1332px);
  right: -1332px;
  bottom: 86px;
  left: 0;
  height: 487px;
}
.component11818 {
  position: absolute;
  width: calc(100% + 6px);
  top: calc(50% - 39px);
  right: -6px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 66px;
}
.investorProfile {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1582px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-400);
  font-family: var(--font-exo-2);
}
