.chooseHowYou,
.connectWallet1 {
  position: absolute;
  left: calc(50% - 177.5px);
}
.connectWallet1 {
  top: 36px;
  font-weight: 600;
}
.chooseHowYou {
  top: 66px;
  font-size: var(--font-size-base);
  line-height: 24px;
  display: inline-block;
  width: 353px;
}
.groupChild,
.maskGroup109 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupChild {
  border-radius: 50%;
}
.maskGroup109 {
  object-fit: cover;
}
.ellipseParent {
  position: absolute;
  height: calc(100% - 19.25px);
  top: 9.63px;
  bottom: 9.62px;
  left: 13.46px;
  width: 40.75px;
  background-image: url(/public/group-40070@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.metamask {
  position: absolute;
  top: 23px;
  left: calc(50% - 114.5px);
}
.groupContainer,
.groupParent {
  position: absolute;
  width: calc(100% - 64px);
  top: calc(50% - 320px);
  right: 32px;
  left: 32px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 60px;
}
.groupContainer {
  top: calc(50% - 248px);
}
.showMore {
  position: absolute;
  top: 26px;
  left: calc(50% - 34.5px);
  line-height: 7px;
  text-transform: capitalize;
  font-weight: 600;
}
.connectWalletParent,
.showMoreWrapper {
  position: absolute;
  background-color: var(--color-white);
}
.showMoreWrapper {
  width: calc(100% - 64px);
  top: calc(50% - 157px);
  right: 32px;
  left: 32px;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 60px;
  text-align: center;
  font-size: var(--font-size-sm);
}
.connectWalletParent {
  height: 100%;
  width: calc(100% - 22px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 22px;
  box-shadow: -3px 0 6px rgba(0, 0, 0, 0.16);
}
.connectWallet {
  position: relative;
  width: 441px;
  height: 920px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-400);
  font-family: var(--font-exo-2);
}
