.filterChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2c3e50;
  opacity: 0.45;
}
.indicator {
  position: absolute;
  top: 6px;
  left: calc(50% - 16.5px);
  border-radius: 2px;
  background-color: #454f63;
  width: 34px;
  height: 3px;
  opacity: 0.15;
}
.div,
.indicatorWrapper {
  position: absolute;
  left: 0;
}
.indicatorWrapper {
  height: calc(100% - 128px);
  width: 100%;
  top: 128px;
  right: 0;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  box-shadow: 0-1px 5px rgba(0, 0, 0, 0.28);
}
.div {
  top: 0;
  font-weight: 600;
  opacity: 0.5;
}
.starIcon {
  height: calc(100% - 24.47px);
  top: 12.73px;
  right: 0;
  bottom: 11.73px;
  max-height: 100%;
  width: 32.14px;
  opacity: 0.5;
}
.price,
.rate,
.starIcon {
  position: absolute;
}
.rate {
  top: calc(50% + 207px);
  right: 18.93px;
  width: 106.07px;
  height: 55px;
  display: none;
  color: #454f63;
  font-family: Montserrat;
}
.price {
  top: 0;
  right: 299px;
  text-transform: capitalize;
  font-weight: 600;
}
.groupChild {
  position: absolute;
  bottom: 11.35px;
  left: calc(50% - 168px);
  width: 335px;
  height: 25px;
}
.div1,
.div2,
.groupContainer {
  position: absolute;
  right: 328px;
  bottom: 0;
}
.div2,
.groupContainer {
  right: -1px;
}
.groupContainer {
  width: 100%;
  right: 0;
  left: 0;
  height: 36.35px;
  font-size: 12px;
  color: #8f979e;
}
.priceParent {
  position: relative;
  width: 336px;
  height: 63.83px;
}
.yield {
  position: absolute;
  top: 0;
  right: -1px;
  text-transform: capitalize;
  font-weight: 600;
}
.yieldWrapper {
  position: absolute;
  top: calc(50% - 31.92px);
  left: 0;
  width: 35px;
  height: 16px;
}
.groupDiv {
  position: relative;
  width: 336px;
  height: 63.84px;
}
.averageRevenueWrapper {
  position: absolute;
  top: calc(50% - 31.92px);
  left: 0;
  width: 128px;
  height: 16px;
}
.location {
  position: absolute;
  top: 0;
  right: 271.5px;
  text-transform: capitalize;
  font-weight: 600;
}
.rectangleDiv {
  position: absolute;
  top: 27px;
  right: 0;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #e5e8eb;
  box-sizing: border-box;
  width: 336px;
  height: 51px;
}
.allLocations {
  position: absolute;
  top: calc(50% + 8px);
  left: 15px;
  color: #8f979e;
}
.path44489Icon {
  position: absolute;
  top: calc(50% + 11.62px);
  left: calc(50% + 132.68px);
  width: 14.33px;
  height: 8.85px;
}
.locationParent {
  position: relative;
  width: 335px;
  height: 78px;
}
.groupIcon {
  position: absolute;
  height: 47.49%;
  width: 100%;
  top: 52.51%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rank {
  position: absolute;
  top: 0;
  right: 297px;
  text-transform: capitalize;
  font-weight: 600;
}
.groupParent4 {
  position: relative;
  width: 335px;
  height: 51.42px;
}
.groupParent {
  position: absolute;
  width: calc(100% - 39px);
  top: calc(50% - 196px);
  right: 19px;
  left: 20px;
  height: 453.93px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  font-size: 16px;
}
.component595Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  background-color: #34c77b;
  border: 2px solid #34c77b;
  box-sizing: border-box;
}
.apply {
  position: absolute;
  top: calc(50% - 5.5px);
  left: calc(50% - 17.5px);
  line-height: 7px;
  text-transform: capitalize;
  font-weight: 600;
}
.component595,
.filters {
  position: absolute;
  text-align: center;
}
.component595 {
  width: calc(100% - 40px);
  right: 20px;
  bottom: 30px;
  left: 20px;
  height: 45px;
  font-size: 14px;
  color: #fff;
}
.filters {
  top: calc(50% - 246px);
  left: calc(50% - 29.5px);
  font-size: 22px;
  font-weight: 600;
}
.filter {
  position: relative;
  width: 375px;
  height: 812px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: 45px;
  color: #060707;
  font-family: "Exo 2";
}
