.component433Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  border: 1px solid #fac73f;
  box-sizing: border-box;
}
.searchTokenName {
  position: absolute;
  top: calc(50% - 6px);
  left: 46px;
}
.component433Item {
  position: absolute;
  top: calc(50% - 10.5px);
  left: 43.5px;
  border-right: 2px solid #fac73f;
  box-sizing: border-box;
  width: 4px;
  height: 20px;
}
.searchIcon {
  position: absolute;
  top: 11px;
  left: 11px;
  width: 24px;
  height: 24px;
}
.component433 {
  position: absolute;
  width: calc(100% - 30px);
  top: 83px;
  right: 15px;
  left: 15px;
  height: 46px;
  color: #8f979e;
}
.selectAToken1 {
  position: absolute;
  top: 27px;
  left: calc(50% - 162.5px);
  font-size: 18px;
  font-weight: 600;
}
.component503Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  border: 1px solid #e5e8eb;
  box-sizing: border-box;
}
.lumi {
  position: absolute;
  top: 12px;
  right: 6px;
}
.component503Item {
  position: absolute;
  height: calc(100% - 12px);
  width: calc(100% - 61px);
  top: 6px;
  right: 53px;
  bottom: 6px;
  left: 8px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component503,
.component504Child {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 36px;
}
.component504Child {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  background-color: rgba(229, 232, 235, 0.7);
  border: 1px solid #e5e8eb;
  box-sizing: border-box;
}
.bnb {
  position: absolute;
  top: 12px;
  right: 7px;
}
.component504Inner,
.component504Item {
  position: absolute;
  height: calc(100% - 12px);
  top: 6px;
  bottom: 6px;
  left: 8px;
  max-height: 100%;
  object-fit: cover;
}
.component504Item {
  width: calc(100% - 57px);
  right: 49px;
  max-width: 100%;
  overflow: hidden;
}
.component504Inner {
  width: 24px;
}
.component504 {
  position: absolute;
  top: 0;
  left: calc(50% - 37.5px);
  width: 81px;
  height: 36px;
}
.dai {
  position: absolute;
  top: calc(50% - 6px);
  right: 8px;
}
.groupChild {
  position: absolute;
  top: calc(50% - 12px);
  left: 8px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.daiParent {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 8px;
  border: 1px solid #e5e8eb;
  box-sizing: border-box;
  width: 76px;
  height: 36px;
}
.usdt {
  position: absolute;
  top: calc(50% - 6px);
  right: 5px;
}
.usdtParent,
.wbtcParent {
  position: absolute;
  bottom: 0;
  border-radius: 8px;
  border: 1px solid #e5e8eb;
  box-sizing: border-box;
  height: 36px;
}
.usdtParent {
  left: 0;
  width: 90px;
}
.wbtcParent {
  left: calc(50% - 29.5px);
  width: 96px;
}
.component503Parent {
  position: absolute;
  height: calc(100% - 28px);
  width: 100%;
  top: 28px;
  right: 0;
  bottom: 0;
  left: 0;
}
.commonTokens {
  position: absolute;
  top: 0;
  left: calc(50% - 127.5px);
  font-size: 14px;
  color: #8f979e;
}
.groupParent {
  position: absolute;
  top: calc(50% - 217.5px);
  left: 15px;
  width: 255px;
  height: 108px;
}
.xButtonIcon {
  position: absolute;
  height: 4.08%;
  width: 8.45%;
  top: 1.63%;
  right: 3.38%;
  bottom: 94.29%;
  left: 88.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lineDiv {
  top: 65px;
}
.groupChild1,
.groupChild2,
.lineDiv {
  position: absolute;
  width: calc(100% + 1px);
  right: 0;
  left: -1px;
  border-top: 1px solid #e5e8eb;
  box-sizing: border-box;
  height: 2px;
}
.groupChild1 {
  bottom: 74px;
}
.groupChild2 {
  top: calc(50% - 91.5px);
}
.component511Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.bnb1 {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 122.5px);
}
.component511Item {
  position: absolute;
  top: calc(50% - 12px);
  left: 23px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.div {
  top: 0;
}
.div,
.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  height: 60px;
}
.div1 {
  top: 60px;
}
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8 {
  top: calc(50% - 207.5px);
}
.div3,
.div4,
.div5,
.div6,
.div7,
.div8 {
  top: calc(50% - 147.5px);
}
.div4,
.div5,
.div6,
.div7,
.div8 {
  top: calc(50% - 87.5px);
}
.div5,
.div6,
.div7,
.div8 {
  top: calc(50% - 27.5px);
}
.div6,
.div7,
.div8 {
  top: calc(50% + 32.5px);
}
.div7,
.div8 {
  top: calc(50% + 92.5px);
}
.div8 {
  top: calc(50% + 152.5px);
}
.div9 {
  bottom: 55px;
  height: 60px;
}
.div10,
.div9,
.repeatGrid6 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.div10 {
  bottom: -5px;
  height: 60px;
}
.repeatGrid6 {
  height: calc(100% + 272px);
  top: 0;
  bottom: -272px;
}
.scrollGroup8 {
  position: absolute;
  bottom: 75px;
  left: calc(50% - 177.5px);
  width: 355px;
  height: 383px;
  overflow-y: auto;
  mix-blend-mode: normal;
}
.groupChild3 {
  position: absolute;
  top: calc(50% - 84.5px);
  right: 6px;
  border-radius: 4px;
  background-color: #d7d9db;
  width: 5px;
  height: 71px;
}
.component593Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  background-color: #fac73f;
  border: 2px solid #fac73f;
  box-sizing: border-box;
}
.manageTokens {
  position: absolute;
  top: calc(50% - 5.5px);
  left: calc(50% - 48.5px);
  line-height: 7px;
  text-transform: capitalize;
  font-weight: 600;
}
.component593 {
  position: absolute;
  width: calc(100% - 30px);
  right: 15px;
  bottom: 15px;
  left: 15px;
  height: 45px;
  text-align: center;
  font-size: 14px;
}
.component433Parent {
  position: absolute;
  width: calc(100% - 35px);
  top: 12px;
  right: 20px;
  left: 15px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.33);
  border: 1px solid #e5e8eb;
  box-sizing: border-box;
  height: 735px;
}
.selectAToken {
  position: relative;
  width: 390px;
  height: 923px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: 16px;
  color: #060707;
  font-family: "Exo 2";
}
