.maskGroup199,
.storiesChild {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.storiesChild {
  width: 100%;
  left: 0;
  background-color: #231f20;
}
.maskGroup199 {
  width: calc(100% - 1px);
  left: 1px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.groupChild,
.groupItem {
  position: absolute;
  height: 11.11%;
  width: 100%;
  right: 0;
  left: 0;
}
.groupChild {
  top: 88.89%;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(180deg, rgba(35, 31, 32, 0), #231f20);
}
.groupItem {
  top: 0;
  bottom: 88.89%;
  border-radius: 10px 10px 0 0;
  background: linear-gradient(0deg, rgba(35, 31, 32, 0), #231f20);
}
.path44483Icon {
  position: absolute;
  height: 0.22%;
  width: 92.31%;
  top: 2.33%;
  right: 3.75%;
  bottom: 97.44%;
  left: 3.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupInner {
  position: absolute;
  bottom: 875.76px;
  left: calc(50% - 232.5px);
  width: 331.74px;
  height: 2px;
}
.groupIcon {
  height: calc(100% - 884.5px);
  top: 42px;
  bottom: 842.5px;
  left: calc(50% + 216.44px);
  width: 17.06px;
}
.groupChild1,
.groupIcon,
.iconAwesomePlay {
  position: absolute;
  max-height: 100%;
}
.iconAwesomePlay {
  height: calc(100% - 884.32px);
  width: calc(100% - 494.44px);
  top: 42px;
  right: 53.77px;
  bottom: 842.32px;
  left: 440.68px;
  max-width: 100%;
  overflow: hidden;
}
.groupChild1 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 35px;
}
.creatorName,
.h {
  position: absolute;
  top: calc(50% - 5.5px);
  right: 22px;
}
.h {
  right: -1px;
  color: #c4c4c4;
}
.groupParent,
.iconFeatherSun {
  position: absolute;
  top: 31px;
  left: 21px;
  width: 154px;
  height: 35px;
}
.iconFeatherSun {
  height: 57.18%;
  width: 5.63%;
  top: 20.33%;
  right: 8.22%;
  bottom: 22.5%;
  left: 86.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sendIcon {
  position: absolute;
  top: calc(50% - 12.11px);
  right: -2.41px;
  width: 25.63px;
  height: 25.63px;
}
.replayToCreator {
  position: absolute;
  top: calc(50% - 6px);
  left: 21px;
}
.groupWrapper,
.replayToCreatorNameWrapper {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.replayToCreatorNameWrapper {
  width: 100%;
  right: 0;
  border-radius: 23px;
  border: 1px solid #e5e8eb;
  box-sizing: border-box;
}
.groupWrapper {
  width: calc(100% - 82.56px);
  right: 82.56px;
}
.iconFeatherSunParent {
  position: absolute;
  width: calc(100% - 39.44px);
  right: 21.44px;
  bottom: 17px;
  left: 18px;
  height: 46px;
  text-align: left;
  font-size: 16px;
  color: #c4c4c4;
}
.maskGroup199Parent {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 491.5px);
  width: 507px;
}
.component1121,
.component1122 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% + 28.5px);
  width: 50px;
  height: 50px;
}
.component1122 {
  left: calc(50% - 535.5px);
}
.maskGroup200,
.pexelsVideos1276083 {
  position: absolute;
  height: 99.55%;
  width: 307.77%;
  top: -1.17%;
  right: -19.42%;
  bottom: 1.62%;
  left: -188.35%;
}
.maskGroup200 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.groupChild2 {
  position: absolute;
  width: calc(100% - 24px);
  top: 0;
  right: 12px;
  left: 12px;
  max-width: 100%;
  overflow: hidden;
  height: 64px;
}
.creatorName1 {
  top: calc(50% + 22px);
  left: 0;
}
.creatorName1,
.groupDiv,
.h1 {
  position: absolute;
}
.h1 {
  bottom: 0;
  left: calc(50% - 8px);
}
.groupDiv {
  top: calc(50% - 65px);
  left: calc(50% - 44px);
  width: 88px;
  height: 106px;
}
.groupContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: #231f20;
}
.maskGroup200Parent {
  position: absolute;
  top: calc(50% - 179px);
  left: calc(50% + 73.5px);
  width: 206px;
  height: 358px;
}
.maskGroup2001 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
.ellipseIcon,
.maskGroup2001,
.path44454Icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipseIcon {
  height: 52.28%;
  width: 62.97%;
  top: 4.05%;
  right: 18.51%;
  bottom: 43.67%;
  left: 18.51%;
  border-radius: 50%;
  object-fit: cover;
}
.path44454Icon {
  height: 60.38%;
  width: 72.73%;
  top: 0;
  right: 13.64%;
  bottom: 39.62%;
  left: 13.64%;
}
.maskGroup200Group {
  position: absolute;
  top: calc(50% - 179px);
  right: 0;
  width: 206px;
  height: 358px;
}
.component1131 {
  position: absolute;
  height: calc(100% - 20px);
  top: 15px;
  right: 176px;
  bottom: 5px;
  width: 1071px;
}
.stories,
.xButtonIcon {
  max-width: 100%;
  max-height: 100%;
}
.xButtonIcon {
  position: absolute;
  height: 4.35%;
  width: 2.08%;
  top: 5.54%;
  right: 3.65%;
  bottom: 90.11%;
  left: 94.27%;
  overflow: hidden;
}
.stories {
  position: relative;
  width: 1920px;
  height: 920px;
  overflow: auto;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Exo 2";
}
